{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
            {#******************************AJOUTER UN LIVRE******************************#}
            <h3 >Ajout de livre :</h3>
            {%  include 'home/form.html.twig' %}

            {#<button class="addKeyword btn btn-primary">Ajouter un mot-clé</button>#}
            <button class="btn btn-primary" type="submit" name="action">Ajouter</button>
            {{ form_end(form) }}
            {#*****************************************************************************#}
    </br>
             {#********************************BOUTON RETOUR*******************************#}
            <a class="btn btn-primary" href="{{ path('home') }}" role="button">Retour</a>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }} {#si on met pas parent une écrase ce qu'il y a dans base.hmtl.twig#}
    <script src="{{ asset('js/keywords.js') }}"></script>
        <script src="{{ asset('js/edition.js') }}"></script>
        <script sr="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript">
    </script> 
{% endblock %}


