{{ form_start(form, {'attr' : {'novalidate' : 'novalidate'}}) }}
<div class ="jumbotron">
    <div class="col s8">
        {{ form_label(form.titre, 'Titre :') }}
        {{ form_widget(form.titre) }}
        <span style="color: red"><strong>{{ form_errors(form.titre) }}</strong></span>
    </div>

        </br>

    <div class="col s8">
        {{ form_label(form.auteur, 'Auteur :') }}
        {{ form_widget(form.auteur) }}
        <span style="color: red"><strong>{{ form_errors(form.auteur) }}</strong></span>
    </div>

        </br>

    <div class="col s8">
        {{ form_label(form.resume, 'Résumé :') }}
        {{ form_widget(form.resume) }}
        <span style="color: red"><strong>{{ form_errors(form.resume) }}</strong></span>
    </div>

        </br>

    <div class="col s8">
        {{ form_label(form.prix, 'Prix :') }}
        {{ form_widget(form.prix) }}
        <span style="color: red"><strong>{{ form_errors(form.prix) }}</strong></span>
    </div>

        </br>

        <div class="col s8">
            {{ form_widget(form.editions) }}
        </div>

    <div class="col s8">
        {{ form_widget(form.keywords) }}
        </br>
        <button class="addKeyword btn btn-primary">Ajouter un mot-clé</button>
            <div class=".error-delete-keyword" style="display: none">
                <div class="card-panel">
                    <span class="red-text text-darken-2">Erreur lors de la suppression du mot-clé</span>
                </div>
            </div>
    </div>

        {#si j'ai une image je l'affiche#}
        {#On récupère l'image courante#}
        {#On récupère l'id - Si l'id de mon image est défini à ce moment je l'affiche#}

    </br>

    <div class="form-group">
        {{ form_label(form.categorie) }}
        {{ form_widget(form.categorie) }}
        <span style="color: red"><strong>{{ form_errors(form.categorie) }}</strong></span>
    </div>
    <div class="form-group">
        {{ form_label(form.etat) }}
        {{ form_widget(form.etat) }}
        <span style="color: red"><strong>{{ form_errors(form.etat) }}</strong></span>
    </div>

        <div class="form-group">
            {% if form.image.vars.value.id is defined %}
                <img src="{{ asset('images/')~form.image.vars.value.name }}" class="responsive-img">
                <a href="#" class="delete-image btn waves-effects waves-light red">Supprimer</a>
            {% endif %}
                <div class="col s8">
                    <span class="align">{{ (form.image.vars.value.name is defined) ? "Modifier l'" : "Ajouter une "}} image</span>
                    {{ form_row(form.image) }}
                </div>
            {#<div class="file-path-wrapper">#}
                {#<input class="file-path validate" type="text">#}
            {#</div>#}
        </div>
</div>



